[submodule "proxy"]
	path = proxy
	url = https://github.com/AlexGeniusMan/WildHack-2021-RealityX-Proxy
[submodule "backend"]
	path = backend
	url = https://github.com/AlexGeniusMan/WildHack-2021-RealityX-Backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/Zayac11/WildHack-2021-RealityX-Frontend